@import "reset";
html {
    font-size: 16px;
}

body {
    background-color: #fafafa;
}

.container {
    width: 100%;
    min-height: 100vh;
    min-width: 480px;
    line-height: 1.75;
    a {
        text-decoration: none;
    }
    >div {
        width: 100%;
    }
    .header {
        height: 60px;
        line-height: 60px;
        border-bottom: 2px solid #dddddd;
        .title {
            width: 50%;
            float: left;
            box-sizing: border-box;
            padding-left: 20px;
            font-weight: bold;
            a {
                color: #555555;
                text-decoration: none;

            }
        }
        .user {
            text-align: right;
            width: 50%;
            float: right;
            box-sizing: border-box;
            padding-right: 20px;
        }
    }
    .main {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        .list {
            width: 100%;
            ul {
                line-height: 1.25;
                height: 40px;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid #ebeef5;
                overflow: hidden;
                li {
                    padding: 0 10px;
                    float: left;
                    &:nth-child(1) {
                        width: 40px;
                        padding: 0;
                    }
                    &:nth-child(2) {
                        width: calc(100% - 440px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &:nth-child(3) {
                        width: 100px;
                        text-align: center;
                    }
                    &:nth-child(4) {
                        width: 120px;
                        text-align: center;
                    }
                    &:nth-child(5) {
                        float: right;
                        width: 80px;
                        padding: 0;
                    }
                }
                a {
                    display: block;
                    height: 32px;
                    line-height: 32px;
                    width: 80px;
                    color: #fff;
                    border-radius: 4px;
                    margin: 4px 0;
                    text-align: center;
                    background-color: #909090;
                }
                &.title {
                    padding: 0 10px;
                    text-align: left;
                    // background-color: #808080;
                    // border-right: 1px solid #808080;
                    box-sizing: border-box;
                    background-color: #d0d0d0;
                    line-height: 40px;

                    &:last-child {
                        border: none;
                    }
                    &:first-child {
                        text-align: center;
                        white-space: nowrap;
                        word-wrap: break-word;
                        word-break: break-all;
                    }
                }
                &.list-item {
                    padding: 0 10px;
                    margin: 0;
                    //border-right: 1px solid #808080;
                    height: 40px;
                    line-height: 40px;
                    span {
                        display: block;
                        height: 40px;
                    }
                    .img {
                        margin: 10px;
                        overflow: hidden;
                        text-align: center;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                    &:last-child {
                        border: none;
                    }
                    &:hover {
                        background-color: #f5f7fa;
                    }
                }
            }
        }
    }
    .footer {
        border-top: 2px solid #dddddd;
        height: 3rem;
        p {
            display: block;
            line-height: 3rem;
            text-align: center;
            font-size: 1rem;
            color: #d0d0d0;
            a {
                color: #d0d0d0;
                text-decoration: none;
            }
        }
    }
}